.newappointmentd .form{
    position:absolute;
    left: 210px;
    margin-top: 0px;
}


.newappointmentd .form p{
    margin-top: 30px;
    margin-bottom: 0px;
}

.newappointmentd .form h4{
    margin-bottom: 10px;
}

.newappointmentd hr{
    width: 1000px;
    margin-left: 0px;
    margin-right: 0px;
}

.newappointmentd .form i{
    margin-right: 10px;
}

.newappointmentd button{
    margin-right: 10px;
    margin-bottom: 10px;
}

.newappointmentd .form h6{
    margin-top: 40px;
}


.newappointmentd .line hr{
    width: 200px;
}

.newappointmentd.line{
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: baseline;
    margin-top: 10px;
}

.newappointmentd .line i{
    margin-bottom: 4px;
}

.newappointmentd .line input{
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    background-color: whitesmoke;
}

.newappointmentd .reason p{
    margin-top: 20px;
}

.newappointmentd .reason input{
    margin-top: 10px;
    width: 500px;
    height: 90px;
}

.newappointmentd .ConfirmCancel{
    margin-top: 60px;
}