.profile{
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.profile a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.profile img{
    width: 50px;
    height: 40px;
}
.profile h5{
    margin-top: 0px;
}
.profile h6{
    margin-top: 0px;
    margin-bottom: 0px;
}


