  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0px 0 0; /* Height of navbar */
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%); */
    width: 170px;
    z-index: 600;
    background-color:  #003865;
    display: flex;
}
  
  .list-group{
    display: list-item;
  }

  .sidebar img{
    margin-right: 50px;
    width: 50px;
    height: 40px;
    margin: 12px 1px 25px 30px;
}

.position-sticky a{
    display: block;
    text-decoration: none;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}

.sidebar ul {
    list-style-type: none;
  
    background-color: #003865;
    height: 100%; /* Full height */
   /* position: absolute;/*  Make it stick, even on scroll */
    margin-right:2px ; 
}
  li a {
    display: block;
    color: white;
    /* padding: 10px 16px; */
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
  }

  li i{
    padding-right: 5px;
    text-decoration: none;
    margin-right: 5px ;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: white;
  }

